.uploadContainer {
  position: relative;
  border-radius: var(--mantine-radius-md);
  border: 1px dashed var(--mantine-color-blue-5);
  padding: var(--mantine-spacing-md);
  text-align: center;
  display: flex;
  justify-content: center;

  cursor: pointer;
  height: 25rem;
}

.uploadContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.uploadIcon {
  color: var(--mantine-color-blue-5);
  margin-bottom: var(--mantine-spacing-xs);
  width: 32px;
  height: 32px;
}

.uploadText {
  color: var(--mantine-color-gray-6);
  font-size: var(--mantine-font-size-sm);
}

.previewContainer {
  position: relative;
  border-radius: var(--mantine-radius-md);
  width: 100%;
  overflow: hidden;
}

.previewImage {
  height: 25rem;
  width: 100%;
  object-fit: cover;
}

.previewOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s ease;
  border-radius: var(--mantine-radius-md);
}

.previewOverlay:hover {
  opacity: 1;
}

.textInput input:focus {
  border-color: var(--mantine-color-blue-5);
}
